@charset "UTF-8";

body {
	font-family: 'Open Sans', sans-serif;
	color: rgba(255, 255, 255, 0.9);	/* White with 90% opacity */
	background-color:  #E9573F;	/* Dark orange */
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
}

/* NAVBAR STYLE */

.my-navbar {
	margin-bottom: 19px;
	min-height: 30px;
	background-color: #FC6E51;
	border-color: #FC6E51;
}

.my-navbar a {
	color: rgba(255, 255, 255, 0.8) !important;
}

#navbar-container {
	max-height: 30px;
	padding: 10px 25px 0px 25px;
}

.header {
	padding-top: 3px;
}

.my-navbar-brand {
	font-size: 24px;
	font-weight: 800;
	padding-top: 11px;
}

#logo {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

.my-btn {
	border-radius: 0px;
	padding: 4px 30px;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
}

.my-btn:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: #FC6E51;
}

.logout {
	background-color: rgba(178, 18, 18, 0.3);
	border: rgba(255, 255, 255, 0.7) 1px solid;
}

.home-login {
	opacity: 0.8;
}

/* GENERAL STYLE FOR THE CONTENT */

.no-box-sizing * {
	box-sizing: content-box;
}

#mainContent {
	margin-top: -19px;
}

.content {
	padding: 40px 15px;
	text-align: center;
}

input {
	color: rgba(0, 0, 0, 0.6);
}

input:focus {
	color: rgba(0, 0, 0, 0.9);
}
