@charset "UTF-8";

body {
	font-family: 'Open Sans', sans-serif;
	color: rgba(255, 255, 255, 0.9);
	background-color:  #E9573F;
	text-align: center
}

#mainContent {
	padding-top: 50px;
}

.content {
	padding: 40px 15px;
	text-align: center;
}

#loginForm {
	margin: 5px;
}

.no-box-sizing * {
	box-sizing: content-box;
}

.navbar-brand {
	color: white !important;
	font-size: 15px;
	font-weight: 600;
}

#logo {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

a {
	color: #350147;
}

#mainContent {
	margin-top: -19px;
}

